// ** ===== SLIDE IN-OUT TRANSITION ===== ** //

.slide-enter.slide-enter-active {
    height: 61px;
    -webkit-transition: height .3s ease;
}

.slide-leave.slide-leave-active {
    height: 10px;
    -webkit-transition: height .3s ease;
}
