// ** ===== HOME PAGE STYLES ===== ** //

.banner {
  min-height: 60vh;
  position: relative;
  z-index: 2;
  background-color: $white;
  border-bottom: 1px solid black;
  padding: 0 15px 0 15px;
  &.banner_spotlight {
    margin: -15px 0 0 0;
  }
}
