// ** ===== JUMBOTRON ===== ** //
.jumbotron {
  height: 98vh;
  margin: 0 0 10px 0;
  font-family: $quicksand;
  background: url('../assets/images/home/jumbotron-background.jpg') no-repeat center center fixed;
  background-size: cover;
}
