//Navbar Styles


.navbar {
  background-color: transparent;
}
//Navbar Logo
.navbar_logo {
  height: 50px;
  background-color: $white;
  border: 1px solid $sls_red;
  padding-top: 2px;
}
.navbar-brand {
  padding: 1px 15px 0 15px;
}
