// ** ===== NAVBAR STYLES ===== ** //
.navbar {
  background-color: transparent;
  font-family: $maven-pro;
  border: none;
}

// ** ===== MENU ITEMS ===== ** //
.nav {
  margin-right: 2%;
  >li {
    >a {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  //bootstrap override
  a {
    color: $white !important;
    transition: all 0.2s ease;
    &:hover,
    &:active,
    &:focus {
      color: #cccccc !important;
      background-color: transparent !important;
    }
    &:visited {
      background-color: transparent !important;
    }
  }
  //bootstrap override
  .open {
    >a,
    >a:hover,
    >a:focus {
      background-color: transparent !important;
    }
  }
}
// ** ===== DROPDOWN MENU ITEMS ===== ** //
.dropdown-menu {
  background-color: $nav_dropdown_bkd;
}

// ** ===== LOGO ===== ** //
.navbar_logo {
  height: 50px;
  background-color: $white;
  border: 1px solid $sls_red;
  padding-top: 2px;
}
.navbar-brand {
  padding: 0 15px;
}
