//Theme Colors
$white: #fff;
$sls_red: #DC0000;

//Text Colors
$default_text_color: #515150;

//Button Colors
$btn_green: #439f46;

//Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
$open-sans: 'Open Sans', sans-serif;
